<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!--
  <div>
    <ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="ColumnMode.force"
      [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [selected]="selected"
      [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
      (activate)="onActivate($event)" (select)="onSelect($event)">
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
      </ngx-datatable-column>

      <ngx-datatable-column name="Name"></ngx-datatable-column>
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Company"></ngx-datatable-column>
    </ngx-datatable>
    <div class="selected-column">
      <h4>
        Selections <small>({{ selected?.length }})</small>
      </h4>
      <ul>
        <li *ngFor="let sel of selected">
          {{ sel.name }}
        </li>
        <li *ngIf="!selected?.length">No Selections</li>
      </ul>
    </div>
  </div>
  -->
  <div class=col-3>
    <h5>Select the identifier column </h5>
  </div>
  <div class="col-sm-12">
    <span>
      <button class="btn-sm" (click)="highlighFifthRow()">Highlight 5th Row</button>
      <button class="btn-sm" (click)="changeDurationBackgroundColor()">Highlight Rows with Duration over
        50</button>
    </span>
    <hr />
  </div>
  <div class="col-9">
    <div class="container">
      <angular-slickgrid gridId="grid2" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions"
        [dataset]="dataset" (onAngularGridCreated)="angularGridReady($event)"
        (sgOnCellChange)="onCellChanged($event.detail.eventData, $event.detail.args)"
        (sgOnClick)="onCellClicked($event.detail.eventData, $event.detail.args)"
        (sgOnHeaderClick)="onHeaderClicked($event.detail.eventData, $event.detail.args)">
      </angular-slickgrid>
    </div>
  </div>
</div>